  h3 {
    text-align: center;
  }

  .profile { 
    display: flex;
    justify-content: space-around;
  }

  .person {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: var(--bold_font);
    padding: 0.5rem 1rem;
  }
  
  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 125px;
    border: 2px solid var(--main_color);
    border-radius: 50%;
    margin-bottom: 0.5rem;
  }
  
  .avatar img {
    max-width: 100%;
    height: auto;
  }
  
  .create_post { 
    width: 500px;
  }
  
  .newPost {
    width: 100%;
    height: 50px;
  }

  

  