@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
  --main_color: #E44D3A; 
  --box_shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --main_font: 'Poppins', sans-serif;
  --light_font: 300;
  --medium_font: 400; 
  --bold_font: 500;  

}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  font-family: var(--main_font);
  padding: 1rem;
  display: grid;
  grid-template-areas: 
  "header header header"
  "nav content friends"
  "footer footer footer"; 
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 80px 1fr 100px;
  gap: 1rem; 
  background-color: #F2F2F2;
}






